/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

div {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ Main ~~~~~~~~~~~~~~~~~~~ */


nav {
  display: flex;
  flex-direction: row;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ Main ~~~~~~~~~~~~~~~~~~~ */

main {
 display: flex;
 flex-direction: right;
 justify-content: space-around;
}


.meal-selection-box {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 500px;
  height: 375px;
  padding-left: 30px;
}

.meal-selection-contents {
  margin-top: 40px;
}


.cookpot-box {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 500px;
  height: 375px;
}

img {
  width: 25%;
}

.mealbtn {
  display: inline;
  width: 35%;
  border-radius: 3px;
  padding: 5px;
  margin-top: 8px;
}
