/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

div {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ Main ~~~~~~~~~~~~~~~~~~~ */


nav {
  display: flex;
  flex-direction: row;
}

/* body {
  background-image: url(assets/burger-friends.jpg);
  width: 100%;
  height: 100%:
  object-fit: contain;
} */

body {
  background-image: url(assets/burger-friends.jpg);
  background-size: cover;                      /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~ Main ~~~~~~~~~~~~~~~~~~~ */

main {
 display: flex;
 justify-content: space-around;
}

.meal-selection-box {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 500px;
  height: 330px;
  padding-left: 30px;
}

.meal-selection-contents {
  margin: 30px 10px;
  font-family: sans-serif;
}


.cookpot-box {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 500px;
  height: 330px;
}

img {
  width: 25%;
}

.mealbtn {
  display: inline;
  width: 35%;
  border-radius: 3px;
  padding: 5px;
  margin-top: 8px;
}
